# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Logs
*.log

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# VSCode config
.vscode/

# Mac OS metadata
.DS_Store

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Docker (optional)
*.tar

.env

tasks.json